h1 {
  color:purple;
  text-align:center
}
h2 {
  text-align:center
}
p{
  text-indent: 50px;
  font-size: 20px;
  margin: 35px;
}
p + ul {
    margin-top: -35px;
    margin-bottom: -35px;
}
p + ol {
    margin-top: -30px;
    margin-bottom: -30px;
}
img{
  width:50%;
  margin: 1px auto;
  display: block;
}
ul{
  font-size: 20px;
}
ol{
  font-size: 20px;
}
body{
  background-color: deepskyblue;
  border: 25px solid white;
}
